.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative; 
}

.logoImage {
  width: 75px;
  height: auto;
}

.navbarBrand {
  display: flex;
  align-items: center;
}

.navbarLinksContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center; 
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
}

.navbarLinks {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbarLinks a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbarLinks a:hover {
  color: #007bff;
}