/* Importa tus estilos base o globales aquí */

/* Regla para aplicar la fuente principal a todo el cuerpo del texto */
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6; /* Mejora la legibilidad de los párrafos */
  color: #333; /* Un color de texto base */
}

/* Regla para aplicar la fuente de títulos a todos los encabezados */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  color: #222; /* Un color de título más oscuro */
  line-height: 1.2; /* Espaciado de línea más ajustado para títulos */
}

/* Opcional: si quieres asegurar que los párrafos específicos usen Open Sans */
p {
  font-family: 'Open Sans', sans-serif;
}